.widget-content h3{ margin: 0.6em 0; }

.widget-content h3 a{ border: 1px solid #DFDFDF; color: #000; display: block; font-weight: bold; font-size: 11px; padding: 5px; text-decoration: none;
	background: rgb(236, 236, 236);
	background: -moz-linear-gradient(top, #ececec, #e1e1e1);
	background: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(#e1e1e1));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffececec, endColorstr=#ffe1e1e1)"; zoom: 1;
	border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -webkit-border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.4); -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.4); -o-box-shadow: 1px 1px 3px rgba(0,0,0,.4); -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.4); }
.widget-content h3 a:hover { background: #d55633;
	background: -moz-linear-gradient(top, #e1e1e1, #ececec);
	background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#ececec));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe1e1e1, endColorstr=#ffececec)";
	box-shadow: -1px -1px 1px rgba(0,0,0,.4), 1px 1px 2px rgba(0,0,0,.4); -moz-box-shadow: -1px -1px 1px rgba(0,0,0,.4), 1px 1px 2px rgba(0,0,0,.4); -o-box-shadow: -1px -1px 1px rgba(0,0,0,.4), 1px 1px 2px rgba(0,0,0,.4); -webkit-box-shadow: -1px -1px 1px rgba(0,0,0,.4), 1px 1px 2px rgba(0,0,0,.4); }
